# Template for build.properties

# Replace with your own JGroups source installation
jgroups.dir.3=/Users/bela/JGroups-3.6-branch
jgroups.dir.4=/Users/bela/JGroups-4.x
jgroups.dir.5=/Users/bela/JGroups

# Replace with your own JGroupsArticles installation
jgroups.articles.dir=/Users/bela/JGroupsArticles
